@use '@pkmer-music/management/styles/variables' as app;

$stroke-width: 5;
:export {
  strokeWidth: app.$stroke-width;
  mainColor: app.$main-color;
  duration: app.$duration;
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  display: block;
  height: 24px;
  border-radius: 6px;
  background-color: app.$main-color;

  div {
    padding: 0.5rem;
    width: fit-content;
    position: absolute;
    top: 50%;
    transform-origin: center;
    background-color: #4b5563;
    border-radius: 100%;
    transition: all app.$duration ease-in-out;
  }
}
